@page "{cityName}"
@model Exercicio_09.Pages.CityManager.CityDetailsModel
@{
    ViewData["Title"] = "Detalhes da Cidade";
}

<h2>Detalhes da Cidade</h2>

@if (!string.IsNullOrEmpty(Model.CityName))
{
    <p>Você está vendo detalhes de: <strong>@Model.CityName</strong></p>
}
else
{
    <p>Nenhuma cidade fornecida na URL.</p>
}
