@page
@model CityBreaks.Web.Pages.Exercicio6Model
@{
    ViewData["Title"] = "Exercício 6";
}

<!-- Incluindo o Header -->
@await Html.PartialAsync("_Header")

<h1>Bem-vindo ao Exercício 6</h1>

<!-- Aqui depois você vai chamar os Cards e Footer -->
