@page
@model CityBreaks.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Cidades</h2>

<ul>
    @foreach (var city in Model.Cities)
    {
    <li>
        <strong>@city.Name</strong> - País: @city.Country.Name
        <ul>
            @foreach (var prop in city.Properties)
                {
            <li>@prop.Name - Preço: @prop.Price</li>
                }
        </ul>
    </li>
    }
</ul>
