@page
@model Exercicio_08.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Link de exemplo para testar a rota com parâmetro -->
    <p class="mt-4">
        <a class="btn btn-primary"
           asp-page="/CityManager/CityDetails"
           asp-route-cityName="SãoPaulo">
            Ver detalhes de São Paulo
        </a>
    </p>
</div>
